doctype html
html
  head
    title= title
    script(src='/libs/angular/angular.min.js')
    script(src='/libs/jquery/jquery.js')
    script(src='/libs/jquery-ui/jquery-ui.js')
    script(src='/libs/socket-io/socket.io.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(ng-app='app')
    block content